/*Style*/
div.container{height:300px;width: 300px;border-spacing: 10px;border:2px solid red;}

div.color{font-variant: small-caps;font-size: 12px;color:maroon;font-family: cursive;}

div.footer{height: 500px;width:700px; border:3px dotted maroon; font-synthesis: style}